{% extends "base.html" %}
{% block content %}
<html lang="en">
<body>
    <ul>
    <a href="/delete/delete_program">
        <li>Remove a program</li>
    </a>
    <a href="/delete/delete_executive">
        <li>Remove an ELIDEK executive</li>
    </a>
    <a href="/delete/delete_researcher">
        <li>Remove a researcher</li>
    </a>
    <a href="/delete/delete_organization">
        <li>Remove an orginization</li>
    </a>
    <a href="/delete/delete_phone">
        <li>Remove phone for an orginization</li>
    </a>
    <a href="/delete/delete_employee_relation">
         <li>Remove a researcher from working for an organization</li>
    </a>
    <a href="/delete/delete_project">
        <li>Remove a project</li>
    </a>
    <a href="/delete/delete_delivered">
        <li>Remove a deliverable from a project</li>
    </a>
    <a href="/delete/delete_works_on_project">
        <li>Remove a researcher from working on a proect</li>
    </a>
    <a href="/delete/delete_evaluate_project">
        <li>Remove an evaluator from a project</li>
    </a>
</body>
</html>
{% endblock %}
