{% extends "base.html" %}
{% block content %}
<html lang="en">
<body>
    <ul>
    <a href="/insert/insert_program">
        <li>Insert a program</li>
    </a>
    <a href="/insert/insert_executive">
        <li>Insert an ELIDEK executive</li>
    </a>
    <a href="/insert/insert_researcher">
        <li>Insert a researcher</li>
    </a>
    <a href="/insert/insert_organization">
        <li>Insert an orginization</li>
    </a>
    <a href="/insert/insert_phone">
        <li>Insert a phone for an orginization</li>
    </a>
    <a href="/insert/insert_employee_relation">
         <li>Assign a researcher as employee of an organization</li>
    </a>
    <a href="/insert/insert_project">
        <li>Insert a project</li>
    </a>
    <a href="/insert/insert_delivered">
        <li>Assign a deliverable to a project</li>
    </a>
    <a href="/insert/insert_works_on_project">
        <li>Assgin a researcher to work on a project</li>
    </a>
    <a href="/insert/insert_evaluate_project">
        <li>Assign an evaluator to a project</li>
    </a>
    <a href="/insert/insert_scientific_field">
        <li>Assign an extra scientific field to a project</li>
    </a>
</body>
</html>
{% endblock %}

