{% extends "base.html" %}
{% block content %}
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<div class="query2a">
    <h3>Projects per Researcher</h3>
    <table>
        <thead>
        <tr>
            <th>Researcher Name</th>
            <th>Researcher Surname</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        {% for print in query2a %}
        <tr class="researcher-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
            <td>{{ print[2] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
