{% extends "base.html" %}
{% block content %}
<div class="query7">
    <h3>Executives working for ELIDEK that have given the most amount of money to a company</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <th>Executive Name</th>
            <th>Executive Surname</th>
            <th>Company Name</th>
            <th>Total funding</th>
        </tr>
        </thead>
        <tbody>
        {% for best_executives in best_executive %}
        <tr class="best_executive-row">
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
