{% extends "base.html" %}
{% block content %}
<div class="query4">
    <h3>Organizations that have the same number of projects annualy (more than 10)</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <th>Organization Name</th>
            <th>Organization Abbreviation</th>
        </tr>
        </thead>
        <tbody>
        {% for print in query4 %}
        <tr class="organization-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
