{% extends "base.html" %}
{% block content %}
<div class="projects_per_researcher">
    <h3>Projects per Researcher</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Researcher Name</td>
            <td>Researcher Surname</td>
            <td>Project</td>
        </tr>
        </thead>
        <tbody>
        {% for projects per researcher %}
        <tr class="customer-row">
            <td>{{ researcher_name }}</td>
            <td>{{ researcher_surname }}</td>
            <td>{{ project_title }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
