{% extends "base.html" %}
{% block content %}
<div class="organization_info">
    <h3>Information for Organizations</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Organization Name</td>
            <td>Organization Abbreviation</td>
            <td>Phone</td>
        </tr>
        </thead>
        <tbody>
        {% for projects per researcher %}
        <tr class="customer-row">
            <td>{{ organization_name }}</td>
            <td>{{ organization_abbreviation }}</td>
            <td>{{ phone }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
