{% extends "base.html" %}
{% block content %}
<html lang="en">
<body>
  <nav class="menu" tabindex="0">
      <ul>
      <a href="/queries/query1">
          <li>Query 1: Available programs and projects specified by criteria of your choice and working researchers on it (Criteria: date or duration or executive)</li>
      </a>
      <a href="/queries/query2a">
          <li>Query 2.1: Projects per researcher</li>
      </a>
      <a href="/queries/query2b">
          <li>Query 2.2: Organization information</li>
      </a>
      <a href="/queries/query3">
          <li>Query 3: Active projects per scientific field and researchers working for those projects</li>
      </a>
      <a href="/queries/query4">
          <li>Query 4: Organizations that have received the same number of projects in a time span of 2 consecutive years, with at least 10 projects annually</li>
      </a>
      <a href="/queries/query5">
          <li>Query 5: 3 most common scientific fields pairs that have appeared in projects (running or not)</li>
      </a>
      <a href="/queries/query6">
           <li>Query 6: Young researchers that work on the most running projects, in addition with the number of the projects they are working for</li>
      </a>
      <a href="/queries/query7">
          <li>Query 7: Top 5 executives that work for ELIDEK and have given the greatest amount of funds to a company</li>
      </a>
      <a href="/queries/query8">
          <li>Query 8: Researchers that work on 5 or more projects without deliverables</li>
      </a>
      </ul>
  </nav>
</body>
</html>
{% endblock %}
