{% extends "base.html" %}
{% block content %}
<div class="query2a">
    <h3>Projects per Researcher</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Researcher Name</td>
            <td>Researcher Surname</td>
            <td>Project</td>
        </tr>
        </thead>
        <tbody>
        {% for print in researchers %}
        <tr class="researcher-row">
            <td>{{ print([0]) }}</td>
            <td>{{ print([1]) }}</td>
            <td>{{ print([2]) }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
