{% extends "base.html" %}
{% block content %}
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<div class="query1_result">
    <h3>{{title}}</h3>
    <table>
        <thead>
        <tr>
            <th>Researcher Name</th>
            <th>Researcher Surname</th>
        </tr>
        </thead>
        <tbody>
        {% for print in table %}
        <tr class="program-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
            <td>{{ print[2] }}</td>

          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
