{% extends "base.html" %}
{% block content %}
<div class="query8">
    <h3>Researchers that work on 5 or more projects</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <th>Researcher Name</th>
            <th>Researcher Surname</th>
            <th>Number of projects</th>
        </tr>
        </thead>
        <tbody>
        {% for print in query8 %}
        <tr class="best_executive-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
            <td>{{ print[2] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
