{% extends "base.html" %}
{% block content %}
<div class="query4">
    <h3>Most common pairs of scientific fields in a active and non active projects</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <th>Scientific Field</th>
            <th>Project Tile</th>
            <th>Researcher Name</th>
            <th>Researcher Surname</th>
        </tr>
        </thead>
        <tbody>
            {% for print in query5 %}
            <tr class="organization-row">
                <td>{{ print[0] }}</td>
                <td>{{ print[1] }}</td>
                <td>{{ print[2] }}</td>
                <td>{{ print[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
