{% extends "base.html" %}
{% block content %}
<div class="query2b">
    <h3>Information for Organizations</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Organization Name</td>
            <td>Organization Abbreviation</td>
            <td>Phone</td>
        </tr>
        </thead>
        <tbody>
        {% for print in query2b %}
        <tr class="organization-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
            <td>{{ print[2] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
