{% extends "base.html" %}
{% block content %}
<div class="query6">
    <h3>Young researchers that work in the most projects</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <th>Researcher Name</th>
            <th>Researcher Surname</th>
            <th>Researcher Birthdate</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        {% for researchers in researcher %}
        <tr class="researcher-row">
            <td>{{ researcher.name }}</td>
            <td>{{ researcher.surname }}</td>
            <td>{{ researcher.birthday }}</td>
            <td>{{ project.title }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
