{% extends "base.html" %}
{% block content %}
<div class="organization_info">
    <h3>Organizations that have the same number of projects annualy (more than 10)</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Organization Name</td>
            <td>Organization Abbreviation</td>
        </tr>
        </thead>
        <tbody>
        {% for organizations per organization %}
        <tr class="organization-row">
            <td>{{ organization.name }}</td>
            <td>{{ organization.abbreviation }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
