{% extends "base.html" %}
{% block content %}
<div class="query6">
    <h3>Young researchers that work in the most projects</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <th>Researcher Name</th>
            <th>Researcher Surname</th>
            <th>Researcher Birthdate</th>
            <th>Number of projects</th>
        </tr>
        </thead>
        <tbody>
        {% for print in query6%}
        <tr class="researcher-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
            <td>{{ print[2] }}</td>
            <td>{{ print[3] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
