{% extends "base.html" %}
{% block content %}
<html lang="en">
<body>
  <nav class="menu" tabindex="0">
      <ul>
      <a href="/queries/query1">
          <li>Available Programs and projects and working researchers based on criteria of your choice (Criteria: date or duration or executive)</li>
      </a>
      <a href="/queries/query2a">
          <li>Projects per project</li>
      </a>
      <a href="/queries/query2b">
          <li>Organization information</li>
      </a>
      <a href="/queries/query3">
          <li>Active projects per scientific field and the researchers working for those projects</li>
      </a>
      <a href="/queries/query4">
          <li>Organizations that have received the same number of projects in a time span of 2 consecutive years, with at least 10 projects annually</li>
      </a>
      <a href="/queries/query5">
          <li>Top 3 scientific fields pairs that have appeared in projects (running or not)</li>
      </a>
      <a href="/queries/query6">
           <li>Young researchers that work on the most running projects, in addition with the number of the projects they are working on</li>
      </a>
      <a href="/queries/query7">
          <li>Top 5 executives that work for ELIDEK and have given the biggest amount of funds to a company</li>
      </a>
      <a href="/querie/query8">
          <li>Researchers that work on 5 or more projects</li>
      </a>
      </ul>
  </nav>
</body>
</html>
{% endblock %}
