{% extends "base.html" %}
{% block content %}
<div id="query2a">
    <form action = "http://localhost:5000/query2/query2a_result" method='POST'">
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" name="surname" placeholder="Surname">
        </div>
        <div class="form-group my-4">
            <button type="submit" class="btn btn-primary"> Show Projects per Researcher </button>
        </div>
    </form>
</div>
{% endblock %}
