{% extends "base.html" %}
{% block content %}
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<div class="query7">
    <h3>Executives working for ELIDEK that have given the most amount of money to a company</h3>
    <table>
        <thead>
        <tr>
            <th>Executive Name</th>
            <th>Executive Surname</th>
            <th>Organization Name</th>
            <th>Total funding</th>
        </tr>
        </thead>
        <tbody>
        {% for print in query7 %}
        <tr class="best_executive-row">
            <td>{{ print[0] }}</td>
            <td>{{ print[1] }}</td>
            <td>{{ print[2] }}</td>
            <td>{{ print[3] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
