{% extends "base.html" %}
{% block content %}
<div id="read">
    <form action = "/read/read_result" method='POST'">
        <div class="form-row">
      <label for="table">Select the table you want to read: </label>
      <select name="table" id="table">
        <option value="Physics">Physics</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Engineering Sciences">Engineering Sciences</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Environment">Environment</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Medicine">Medicine</option>
        <option value="Art">Art</option>
        <option value="Sociology">Sociology</option>
        <option value="Economics">Economics</option>
      </select>
        </div>
        <div class="form-group my-4">
            <button type="submit" class="btn btn-primary"> Read Table  </button>
        </div>
    </form>
</div>
{% endblock %}
