{% extends "base.html" %}
{% block content %}
<div id="read">
    <form action = "/read" method='POST'>
        <div class="form-row">
      <label for="type">Choose the table of your choice:</label>
      <select name="type" id="type">
        <option value="researcher">Researchers</option>
        <option value="organization_info">Organization</option>
        <option value="project">Projects</option>
        <option value="delivered">Deliverables</option>
        <option value="executive">Executives</option>
        <option value="program">Programs</option>
        <option value="employee_relation">Employee relation</option>
        <option value="scientific_field">Scientific Fields</option>
        <option value="works_on_project">Working Relations</option>
        <option value="evaluate_project">Evaluations</option>
      </select>
        </div>
        <div class="form-group my-4">
            <button type="submit" class="btn btn-primary"> Enter a Table </button>
        </div>
    </form>
</div>
{% endblock %}
