{% extends "base.html" %}
{% block content %}
<div id="update-project">
    <form class="p-2" class="form" method='POST' action= "/update/update_project">
        <div class="form-row">
        <div class="form-group col-md-6">
        <h3>Select Project -based on Title- to update</h3>
            <label for="title">Project Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group col-md-6">
        <h3>Fill the new values</h3>
            <label for="summary">Summary</label>
            <input type="text" class="form-control" name="summary" placeholder="Summary">
        </div>
        <div class="form-group col-md-6">
            <label for="funding">Funding</label>
            <input type="number" step="0.01" min="100000" max="1000000"class="form-control" name="funding" placeholder="Funding">
        </div>
      </div>
      <div class="form-group col-md-6">
          <label for="start_date">Start Date</label>
          <input type="date" class="form-control" name="start_date" placeholder="Date">
      </div>
      <div class="form-group col-md-6">
          <label for="end_date">End Date</label>
          <input type="date" class="form-control" name="end_date" placeholder="Date">
      </div>
      <div class="form-group col-md-6">
          <label for="executive_name">Executive Name</label>
          <input type="text" class="form-control" name="executive_name" placeholder="Name">
      </div><div class="form-group col-md-6">
          <label for="executive_surname">Executive Surname</label>
          <input type="text" class="form-control" name="executive_surname" placeholder="Surname">
      </div>
      <div class="form-group col-md-6">
          <label for="scientific_inspector_name">Scientific Inspector Name</label>
          <input type="text" class="form-control" name="scientific_inspector_name" placeholder="Name">
      </div>
      <div class="form-group col-md-6">
          <label for="scientific_inspector_surname">Scientific Inspector Surname</label>
          <input type="text" class="form-control" name="scientific_inspector_surname" placeholder="Surname">
      </div>
      <div class="form-group col-md-6">
          <label for="program_name">Program Name</label>
          <input type="text" class="form-control" name="program_name" placeholder="Name">
      </div>
        <div class="form-group my-4">
            <button type="submit" class="btn btn-primary"> Register Project </button>
        </div>
    </form>
</div>
{% endblock %}
