{% extends "base.html" %}
{% block content %}
<html lang="en">
<body>
    <ul>
    <a href="/update/update_program">
        <li>Update a program address</li>
    </a>
    <a href="/update/update_executive">
        <li>Update an executive's birthday or gender</li>
    </a>
    <a href="/update/update_researcher">
        <li>Update a researcher's birthday or gender</li>
    </a>
    <a href="/update/update_organization">
        <li>Update an orginization's name, type, postcode, address or town</li>
    </a>
    <a href="/update/update_employee_relation">
         <li>Update a researcher's start working date at organization he/she works for</li>
    </a>
    <a href="/update/update_project">
        <li>Update a project's summary, funding, start date, end date, organization, executive, program or scientific inspector</li>
    </a>
    <a href="/update/update_delivered">
        <li>Update a deliverable's summary or delivery date</li>
    </a>
    <a href="/update/update_evaluate_project">
        <li>Update an evaluator's grade or evaluation date for a project</li>
    </a>
</body>
</html>
{% endblock %}
